<header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Angular site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ms-auto" >
            <ng-container *ngFor="let nav of navs">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="nav.url" routerLinkActive="active">{{nav.name}}</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </nav>
  </header>