<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <!-- style using string interpolation -->
  <!-- <h2 style="color: {{cvar}}">Angular js</h2> -->

  <!-- style using attribute binding -->
  <h2 [style]="{color: cvar}">Angular js</h2>

  <!-- style using object  -->
  <h4 [style]="mystyle">start with js</h4>
  
  <app-header></app-header>
</body>
</html>