<p>product works!</p>
<div class="container my-5">
    <div class="buttonsdiv my-2">

        <button class="btn btn-primary mx-2" routerLink="/">Back to home</button>
        <button class="btn btn-primary" routerLink="/products">Back to products</button>
    </div>
<img src="{{findProduct.img}}" alt="">
<div class="container mt-4">
    <h1>{{findProduct.name}}</h1>
    <h1>{{findProduct.content}}</h1>
    <button class="btn btn-danger">cost: {{findProduct.fee}}</button>
    <button class="btn btn-danger mx-2">Warantee: {{findProduct.warantee}} years</button>
    <button class="btn btn-danger mx-2" (click)="addToCart(findProduct)">add to cart</button>
</div>
</div>