<div class="cards">
    <div class="prods" *ngFor="let p of products">
        <div class="card">
            <div class="card-header">
                <img src="{{p.img}}" alt="" class="image">
                <div class="info">
                    <p class="name">{{p.name.slice(0,15)}}</p>
                    <p class="profile-desc">{{p.price*70}}</p>
                </div>
            </div>
            <div class="action">
                <button class="btn btn-pink">Buy</button>
            </div>
        </div>
    </div>
</div>