<div class="form-container">
    <h2>Simple Form</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">name:</label>
            <input type="text" name="name" id="name" [(ngModel)]="name" required>
        </div>
        <div class="form-group">
            <label for="email">email:</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="message">message:</label>
            <textarea name="message" id="message" rows="1" [(ngModel)]="message" required></textarea>
        </div>
        <button type="submit" >Submit</button>
    </form>
    <!-- <div > -->
        <!-- <table *ngIf="isSubmitted">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let det of details; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{det.name}}</td>
                    <td>{{det.email}}</td>
                    <td>{{det.message}}</td>
                </tr>
            </tbody>
        </table> -->
    <!-- </div> -->
     <div class="flex-container parent">
        <cc-message-details class="child" *ngFor="let det of details; let i=index" [detail]="det"
        ></cc-message-details>       
     </div>
</div>