

<!-- href performs reloading of page every time you click on any link 
this can be avoided by using routerLink -->
<ul>
    <li>
        <a routerLink="/products">All</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'men'}">Men</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'electronics'}">electronics</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'women'}">women</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active" [queryParams]="{'category':'jewellary'}">jewellery</a>
    </li>
    <button (click)="navigate()">click</button>
       
</ul>
<a routerLink="/products" [queryParams]="[{'pageno':8,'size':10}]"></a>

