<p>admin works!</p>


<div class="container">
    <button mat-flat-button>Click Here</button>
    <div class="example-button-container">
        <button mat-fab aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="example-button-container">
        <button mat-mini-fab aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

    <div class="w-100">
    <div mat-card class="example-card border" appearance="outlined">
        <div mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <div mat-card-title>Shiba Inu</div>
            <div mat-card-subtitle>Dog Breed</div>
        </div>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div mat-card-content>
            <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
            </p>
        </div>
        <div mat-card-actions>
            <div class="example-button-container">
                <button mat-fab extended>
                  <mat-icon>favorite</mat-icon>
                  Like
                </button>
              </div>
            <!-- <button mat-button>SHARE</button> -->
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
              </button>
        </div>
        </div>
        
    </div>
</div>