<app-navdashboard></app-navdashboard>
<div class="container">
    <div class="table-responsive">
        <table class="mt-5 table table-bordered table-dark table-hover stripped">
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>fname</th>
                    <th>lname</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentData;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{student.user_fname}}</td>
                    <td>{{student.user_email}}</td>
                    <td>{{student.user_lname}}</td>
                    <td>{{student.user_phone}}</td>
                    <td>{{student.user_password}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>