<div class="form-container">
  <h2>Simple form</h2>
  <form action="" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="myname"
        name="myname"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea
        name="message"
        id="message"
        rows="1"
        [(ngModel)]="message"
        required
      ></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
  <br>
  <!-- <table *ngIf="isSubmitted">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mes of messages;let i = index">
            <td>{{i+1}}</td>
            <td>{{mes.name}}</td>
            <td>{{mes.email}}</td>
            <td>{{mes.message}}</td>
        </tr>
    </tbody>
  </table> -->
  <div class="flex-container" *ngIf="isSubmitted">
    <app-message-details *ngFor="let mes of messages;let i = index" [messageList]="mes" [index]="i"(delete)="deleteMessage($event)"></app-message-details>
     
  </div>
</div>
