<div class="login-container">
    <img src="https://e7.pngegg.com/pngimages/406/123/png-clipart-art-film-reel-film-miscellaneous-angle-thumbnail.png" class="film bg-danger" alt="image">
    <div class="logo">Rotten Potatoes</div>
    <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates similique voluptatibus reprehenderit adipisci debitis quibusdam, ullam commodi eius voluptatem est.
    </div>
    <div class="login-form">
        <div class="form-group">
            <label for="uname">username</label>
            <input type="text" name="uname" id="" class="form-control" [(ngModel)]="uname">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="" class="form-control" [(ngModel)]="password">
        </div>
        <div class="btn-container">
            <div class="error">{{errorMsg}}</div>
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
    </div>
</div>