<app-header></app-header>
<p>login works!</p>
<!-- <div class="container mb-5">
    <h1>Show and Hide Password</h1>
    <form action="">
        <div class="input-group mb-3">
            <input [type]="ty" name="" class="form-control" placeholder="Enter password" value="my password" id="">
            <button class="btn btn-primary mx-2" type="button" (click)="type1('text')">Show</button>
            <button class="btn btn-warning" type="button" (click)="type1('password')">Hide</button>
        </div>
    </form>
</div> -->

<div class="container mt-1">
    <div class="cardw-50 mx-auto">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <!-- actual code  -->
            <!-- <form action="">
                <div class="mb-3 mt-3">
                    <label for="email">Email: </label>
                    <input type="email" name="email" placeholder="Enter email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="password">password: </label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" id="password">
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
                <p id="error" class="fw-bold"></p>
                <p class="mt-w">If you don't have an account <a routerLink="/register" class="text-danger text-decoration-none">Register Here</a></p>
            </form> -->
            <!-- actual code ends here  -->
            <form action="" #regForm="ngForm">
                <div class="mb-3 mt-3">
                    <label for="email">Email: </label>
                    <input type="email" name="email" placeholder="Enter email" class="form-control" id="email" [(ngModel)]="pd.email" required #email="ngModel">
                    <p class="text-danger fw-bold" *ngIf="email.invalid && email.touched">Enter your email</p>
                </div>
                <div class="mb-3">
                    <label for="password">password: </label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" id="password" [(ngModel)]="pd.password" required #password="ngModel">
                    <p class="text-danger fw-bold" *ngIf="password.invalid && password.touched">Please Enter your password</p>
                </div>
                <div class="mb-3">
                    <label for="cpassword">cpassword: </label>
                    <input type="password" name="cpassword" placeholder="Enter cpassword" class="form-control" id="cpassword" [(ngModel)]="pd.cpassword" required #cpassword="ngModel">
                    <p class="text-danger fw-bold" *ngIf="cpassword.invalid && cpassword.touched">Please Enter cpassword</p>
                    <p class="text-danger fw-bold" *ngIf="pd.password!==pd.cpassword">Check the password again</p>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="regForm.invalid">Login</button>
                <p id="error" class="fw-bold"></p>
                <p class="mt-w">If you don't have an account <a routerLink="/register" class="text-danger text-decoration-none">Register Here</a></p>
            </form>
        </div>
    </div>
</div>



<app-footer></app-footer>