<app-header></app-header>
<p>login works!</p>
<!-- <div class="container mb-5">
    <h1>Show and Hide Password</h1>
    <form action="">
        <div class="input-group mb-3">
            <input [type]="ty" name="" class="form-control" placeholder="Enter password" value="my password" id="">
            <button class="btn btn-primary mx-2" type="button" (click)="type1('text')">Show</button>
            <button class="btn btn-warning" type="button" (click)="type1('password')">Hide</button>
        </div>
    </form>
</div> -->

<div class="container mt-1">
    <div class="cardw-50 mx-auto">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        <div class="card-body">
            <!-- actual code  -->
            <form action="" (submit)="login()" [formGroup]="data" >
                <div class="mb-3 mt-3">
                    <label for="email">Email: </label>
                    <input type="email" name="email" placeholder="Enter email" class="form-control " id="email" formControlName="email" required [ngClass]="isSubmitted && form.email.errors ? 'border border-danger':''">
                    <p class="text-danger fw-bold" *ngIf="isSubmitted && form.email.errors">Enter email</p>
                </div>
                <div class="mb-3">
                    <label for="password">password: </label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control " id="password" formControlName="password" required [ngClass]="isSubmitted && form.password.errors ? 'border border-danger': '' ">
                    <p class="text-danger fw-bold" *ngIf="isSubmitted && form.password.errors">Enter password</p>

                </div>
                <button class="btn btn-primary" type="submit" [disabled]="data.invalid">Login</button>
                <p id="error" class="fw-bold"></p>
                <p class="mt-w">If you don't have an account <a routerLink="/register" class="text-danger text-decoration-none">Register Here</a></p>
            </form>
            <!-- actual code ends here  -->
        </div>
    </div>
</div>



<app-footer></app-footer>