<app-header></app-header>
<div class="container">
    <h1>Courses List</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th>S No</th>
                <th>Name</th>
                <th>Img</th>
                <th>Content</th>
                <th>Fee</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody id="course">
            <tr>
                <td>1</td>
                <td>Name</td>
                <td><img src="first.png" alt="" style="width: 50px;height: 50px;"></td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quam ipsa nostrum voluptas recusandae placeat aspernatur quisquam, quis ad a?</td>
                <td>15000</td>
                <td>60Hrs</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<app-footer></app-footer>