<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>{{title}}</h4>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-success" (click)="openModal()">Add New</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">student name</div>
            <div class="col-6 text-dend">Mobile</div>
          </div>
          
        </div>
        <div class="card-body">
          <p>City, state, pincode</p>
          <p>Address</p>
        </div>
        <div class="card-footer text-center">
          <p>Email</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="">Name</label>
            <input type="text" class="form-control" [(ngModel)]="studentObject.name" name="name" id="" placeholder="Enter your name">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Mobile No</label>
            <input type="text" class="form-control" [(ngModel)]="studentObject.mobileNo" name="mobileNo" id="" placeholder="Enter your mobile no">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="">Email</label>
            <input type="text" class="form-control" [(ngModel)]="studentObject.email" name="email" id="" placeholder="Enter your name">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="">City</label>
            <input type="text" class="form-control" [(ngModel)]="studentObject.city" name="city" id="" placeholder="Enter your City">
          </div>
          <div class="col-4">
            <label for="">State </label>
            <input type="text" class="form-control" [(ngModel)]="studentObject.state" name="state" id="" placeholder="Enter your State">
          </div>
          <div class="col-4">
            <label for="">Pincode </label>
            <input type="text" class="form-control" [(ngModel)]="studentObject.pincode" name="pincode" id="" placeholder="Enter your Pincode">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="">Address </label>
            <textarea rows="3" class="form-control" [(ngModel)]="studentObject.address" name="address" id="" placeholder="Enter your Address"></textarea>

          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="closeModal()">Save</button>
      </div>

    </div>
  </div>
</div>

