<div class="my-3">
<h4>Add a Todo</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-1">
      <label for="title" class="form-label">Todo title</label>
      <input type="text" class="form-control" name="title" id="title" [(ngModel)]="title">
      
    </div>
    <div class="mb-1">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
  </form>
</div>